[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-crispy-forms = "==1.8.1"
django-notifications-hq = "==1.5.0"
jsonfield = "==2.0.2"
chartkick = "==0.5.0"
psycopg2 = "==2.8.4"
Django = "==2.2.2"
Pillow = "==8.2.0"
celery = "==4.3.0"

[requires]
python_version = "3.8"
