[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.4"
pillow = "*"
django-crispy-forms = "*"
django-notifications-hq = "*"
jsonfield = "*"
django-jsonfield = "*"
chartkick = "*"

[requires]
python_version = "3.7"
