{% extends 'base_layout.html' %}

{% load static %}

{% block body %}

    <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">User List</h1>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
  <div class="row">
<div class="col-md-4">
<form class="form-inline active-cyan-3 active-cyan-4" method='GET' action=''>
  <i class="fas fa-search" aria-hidden="true"></i>
  <input class="form-control form-control-sm ml-3 w-75" name='q' type="text" placeholder="Search" aria-label="Search" value='{{ request.GET.q }}'>
</form>
</div>
<div class="col-md-4">
<a href="{% url 'create_area'%}" class="btn btn-primary active" role="button" aria-pressed="true">Add Area</a>
</div>
<div class="col-md-4">

<a href="{% url 'create_street'%}" class="btn btn-primary active" role="button" aria-pressed="true">Add Street</a>



</div>
</div>
   
   
  </div>
            <div class="card-body">
              <div class="table-responsive ">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
    <tr>
       <th scope="col">Sensor ID</th>
      <th scope="col">Area</th>
      <th scope="col">Street</th>
      <th scope="col">Added by</th>
      <th scope="col">Updated by</th>
      <th scope="col">Location</th>
      <th scope="col">Status </th>
      <th scope="col">Added At</th>
      <th scope='col'>Settings</th>
    </tr>
  </thead>
  <tbody>
      {% for i in bins %}

    <tr>
      <td>{{i.bin_no}}</td>
      <td>{{i.bin_area}}</td>
      <td>{{i.bin_street}}</td>
      <td> {{i.added_by}}</td>
      <td>{{i.updated_by}}</td>
      <td><a href= https://www.google.com/maps/place/{{i.bin_logitude}}+{{i.bin_latitude}}/@{{i.bin_logitude}},{{i.bin_latitude}},15z><img src="https://img.icons8.com/dotty/80/000000/map-marker.png" width="20" height="20"></a></td>
      
      
      <td>{{i.bin_status}}</td>
      <td>{{i.added_at}}</td>
      <td> <a href="{% url 'delete_bins' bin_id=i.bin_no %}"><img src="https://img.icons8.com/material-outlined/24/000000/delete-trash.png" width="20" height="20"></a>|<a href="{% url 'update_dustbin_data' bin_no=i.bin_no %}"><img src="https://img.icons8.com/ios-filled/50/000000/update-left-rotation.png" width="20" height="20"></a></td>

    </tr>
        {% endfor %}

  </tbody>
  </table>
  <!--START-->
   
  <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
     {% if bins.has_previous %}
                    
    <li>
      <a class="page-link" href="?page={{ bins.previous_page_number }}" aria-disabled="">Previous</a>
    </li>
    {% endif %}
    <li class="page-item"><a class="page-link">{{ bins.number }}</a></li>
    <li class="page-item"><a class="page-link">of</a></li>
    <li class="page-item"><a class="page-link">{{ bins.paginator.num_pages }}</a></li>
    <li class="page-item">
    {% if bins.has_next %}
      <a class="page-link" href="?page={{ bins.next_page_number }}">Next</a>
   
        {% endif %}
    </li>
  </ul>
</nav>
  <!-- end -->
    

   
    
    <div class="form-group">
     
      <a href="{% url 'create_dustbin'%}" class="btn btn-info">Create Dustbin</a>
      <a href="{% url 'status'%}" class="btn btn-info">Cancel</a>
    </div>

              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
   



{% endblock body %}