
{% extends 'base_layout.html'%}
{% load static %}
{% block head %}
<style>
.anyClass {
    height: 400px;
    overflow-y: scroll;
}
</style>
{% endblock head %}
{% block body %}

 <h1 class="h3 mb-0 text-gray-800"> Notices </h1>
 <div class="container-fluid shadow h-100 py-2">
    <div class="card shadow mb-4">
  <div class = "notificationscroll anyClass">
  
     {% for i in notice %}
     {% if i.unread %}
     <div class="alert alert-primary" role="alert" >
      <div class="media">
              <div class="media-left">
                        <div class="media-object">
                                    <img src={{i.actor.userprofile.image.url}} class="img-circle" alt="Name"height=90 >
                        </div>
              </div>
        <div class="media-body">
              <strong class="notification-title"><a href="#">{% if i.actor.username == request.user.username %} you {% else %}{{i.actor}}{% endif %}</a> {{i.verb}}<a href="#">Detail</a><a class="close pull-right" href="{% url 'mark_as_read_notice' i.slug %}">Mark as Read</a></strong>
              <p class="notification-desc">{{i.description}}</p>

              <div class="notification-meta">
                <small class="timestamp">{{i.timestamp}}</small>
              </div>
        </div>
      </div>
   </div>
   {% else %}
  <div class="alert " role="alert">
      <div class="media">
              <div class="media-left">
                        <div class="media-object">
                                    <img src={{i.actor.userprofile.image.url}} class="img-circle" alt="Name"height=90 >
                        </div>
              </div>
        <div class="media-body">
              <strong class="notification-title"><a href="#">{% if i.actor.username == request.user.username %} you {% else %}{{i.actor}}{% endif %}</a> {{i.verb}}<a href="#">Detail</a></strong>
              <p class="notification-desc">{{i.description}}</p>

              <div class="notification-meta">
                <small class="timestamp">{{i.timestamp}}</small>
              </div>
        </div>
      </div>
   </div>
   {% endif %}
     {% endfor %}
    
     
  



   </div>
  </div>
</div>
{% endblock %}