<!DOCTYPE html>
<html lang="en">
{% load notifications_tags %}
{% load crispy_forms_tags %}

<head>
{% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Smart Waste - Dashboard</title>
      <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>


  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="{% static 'chartkick.js' %}"></script>  
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="{% static 'assets/demo/demo.css' %}" rel="stylesheet" />
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
    <style> 
    #loading{
      position: fixed;
      width:100%;
      height:100vh;
      background:#fff
      url('http://127.0.0.1:8080/static/images/pre_loader.gif')
      no-repeat center;
      z-index:9999;
    }

    .image_upload{
      width:200px;
      
    }
    .side_card{
      margin-top:69px;
    }
    .card_count{
      margin:2px;
    }
    .pie_chart_css{
      height=100px;
    }
    .hello{
      padding-top:20px;
    }
    #upd_image{
      padding-left:45px;
    }
    #map{
      height:500px;
      padding-button:10px;
      

    }
    
    
    </style>
     {% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge' %}
     
        {% block head %}




        {% endblock %}
     
</head>

<body id="page-top">
<!--<div id="loading"></div>-->

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'status'%}">
        <div>
          <img class="logoicon" height="33px" width="49px" src="{% static 'images/logo.png' %}">
        </div>
        <div class="sidebar-brand-text  hello">TrashCan <sup>0.1</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'status'%}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
    
  
      <!-- Nav Item - Pages Collapse Menu -->
         <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'profile' %}" >
          <i class="fas fa-fw fa-map"></i>
          <span>Map View</span>
        </a>
        
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'profile_display' %}" >
          <i class="fas fa-fw fa-user"></i>
          <span>Profile</span>
        </a>
        
      </li>

       <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'user_list' %}" >
          <i class="fas fa-fw fa-users"></i>
          <span>Users</span>
        </a>
        
      </li>

       <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'display_bins'%}" >
          <i class="fas fa-fw fa-trash-alt"></i>
          <span>Dustbins</span>
        </a>
        
      </li>

       <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'notice_display'%}" >
          <i class="fas fa-fw fa-bell"></i>
          <span>Notifications</span>
        </a>
        
      </li>

      

     


      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle" data-placement="right" title="Collapse"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
        
          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                {% notifications_unread as unread_count %}
                <span class="badge badge-danger badge-counter">{% if unread_count > 5 %}5+{% else %} {{unread_count}} {% endif %}</span>
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Notice Center
                </h6>
                  
                 
                   {% for i in notice_contexts %}
                  <a class="dropdown-item d-flex align-items-center" href="{% url 'notice_display' %}">

                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="{{i.actor.userprofile.image.url}}" alt="">
                    
                  </div>
                  <div class="font-weight-bold">
                    <div class="text-truncate">{% if i.actor.username == request.user.username %} you {% else %}{{i.actor}}{% endif %}{{i.verb}}.</div>
                        <div class="small text-gray-500">{{ i.actor.first_name}} {{i.actor.last_name}}·{{i.timestamp}}</div>
                  </div>
                </a>
                   {% endfor %}
                 
             
                <a class="dropdown-item text-center small text-gray-500" href="{% url 'notice_display'%}">Show All Notice</a>
              </div>
            </li>

            <!-- Nav Item - Messages -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <!-- Counter - Messages -->
                <span class="badge badge-danger badge-counter">7</span>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Message Center(Not Done Yet)
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="{{request.user.userprofile.image.url}}" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold">
                    <div class="text-truncate">message 1</div>
                    <div class="small text-gray-500">{{ request.user.first_name}} {{request.user.last_name}} · 58m</div>
                  </div>
                </a>
              <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="{{request.user.userprofile.image.url}}" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold">
                    <div class="text-truncate">message 2</div>
                    <div class="small text-gray-500">{{ request.user.first_name}} {{request.user.last_name}} · 58m</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="{{request.user.userprofile.image.url}}" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold">
                    <div class="text-truncate">message 3</div>
                    <div class="small text-gray-500">{{ request.user.first_name}} {{request.user.last_name}} · 58m</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="{{request.user.userprofile.image.url}}" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold">
                    <div class="text-truncate">message 4</div>
                    <div class="small text-gray-500">{{ request.user.first_name}} {{request.user.last_name}} · 58m</div>
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{request.user.username}}</h10>({% if request.user.is_superuser %}Admin {% else %}Staff{% endif %})</span>
                <img class="img-profile rounded-circle" src="{{ request.user.userprofile.image.url }}">
                

              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{% url 'profile_display' %}">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->
       
        {% block body %}




        {% endblock %}



         <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; www.Trashcan.com</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="{% url 'logout'%}">Logout</a>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

  
   <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFjR24dT-4ftyBy8_7oJH3Q4jgweWBDtI&v=3&&callback=initMap">
    </script>

</body>

</html>
