
{% extends 'base_layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}

   
    
    <!--The div element for the map -->
    <div class="container-fluid">
        <h1 class="h3 mb-0 text-gray-800"> Map View </h1>
    <div  class="card border-left-danger shadow h-1000 py-2 px-1" id="map"></div>
    </div>
   <!-- ============================================================= -->
  


   <!-- ============================================================= -->
    <script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var uluru = {lat: 27.685565,lng:85.349384};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), 
      {zoom:12 ,
       center: uluru,
       styles: [
            {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
            {
              featureType: 'administrative.locality',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'geometry',
              stylers: [{color: '#263c3f'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'labels.text.fill',
              stylers: [{color: '#6b9a76'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry',
              stylers: [{color: '#38414e'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry.stroke',
              stylers: [{color: '#212a37'}]
            },
            {
              featureType: 'road',
              elementType: 'labels.text.fill',
              stylers: [{color: '#9ca5b3'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry',
              stylers: [{color: '#746855'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry.stroke',
              stylers: [{color: '#1f2835'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'labels.text.fill',
              stylers: [{color: '#f3d19c'}]
            },
            {
              featureType: 'transit',
              elementType: 'geometry',
              stylers: [{color: '#2f3948'}]
            },
            {
              featureType: 'transit.station',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'water',
              elementType: 'geometry',
              stylers: [{color: '#17263c'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.fill',
              stylers: [{color: '#515c6d'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.stroke',
              stylers: [{color: '#17263c'}]
            }
          ]
      });
     
       var damage = {url:'http://{{domain}}/static/images/damage.png',
                      scaledSize: new google.maps.Size(50, 50), // scaled size
       };
       var full = {url:'http://{{domain}}/static/images/full.png',
                      scaledSize: new google.maps.Size(25, 25), // scaled size
       };
       var empty = {url:'http://{{domain}}/static/images/empty.png',
                      scaledSize: new google.maps.Size(25, 25), // scaled size
       };
       var half = {url:'http://{{domain}}/static/images/half.png',
                      scaledSize: new google.maps.Size(25, 25), // scaled size
       };
//=========================================================================================
//=======================================================================================
  // The marker, positioned at Uluru
  {% for x in bins %}
  
  {% if x.bin_status < 30 %}
 var data = {lat:{{x.bin_logitude|safe}}, lng:{{x.bin_latitude|safe}} };
 var marker= new google.maps.Marker({position: data, map: map,icon:full, title:'Bin{{x.bin_no|safe}}\n Status:{{x.bin_status}}'});
 {% elif x.bin_status < 100  %}
 var data = {lat:{{x.bin_logitude|safe}}, lng:{{x.bin_latitude|safe}} };
 var marker= new google.maps.Marker({position: data, map: map,icon:half, title:'Bin{{x.bin_no|safe}}\n Status:{{x.bin_status}}'});
 {% elif x.bin_status < 150  %}
  var data = {lat:{{x.bin_logitude|safe}}, lng:{{x.bin_latitude|safe}} };
 var marker= new google.maps.Marker({position: data, map: map,icon:empty, title:'Bin{{x.bin_no|safe}}\n Status:{{x.bin_status}}'});
 {% else %}
 
 var data = {lat:{{x.bin_logitude|safe}}, lng:{{x.bin_latitude|safe}} };
 var marker= new google.maps.Marker({position: data, map: map,icon:damage, title:'Bin{{x.bin_no|safe}}\n Status:{{x.bin_status}}'});
 {% endif %}  
  {% endfor %}
}

    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFjR24dT-4ftyBy8_7oJH3Q4jgweWBDtI&v=3&&callback=initMap">
    </script>
{% endblock body %}