
<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 500px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
    <title>Hello, world!</title>
  </head>
  <body>
    <!--navbar start-->
<nav class="navbar navbar-expand-lg bg-gradient-success">
  <a class="navbar-brand" href="#">TrashCan</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">logged in as {{ request.user.username }}{% if user.is_superuser %}(admin) {% else %}(Staff){% endif %} </a>
      </li>
    </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
  </div>
</nav>
    <!--navbar dend-->

    <div class="container">
  <div class="row">
    <div class="col-2 bg-success text-white" >
     <!-- profile settings start -->
    
     <img src="{{ user.userprofile.image.url }}" alt="Responsive image" class="rounded-circle" width="100" height="100">
     {{ user.username }}

     <div class="btn-group-vertical">
    <a href="{% url 'profile_display'%}" class="list-group-item list-group-item-action list-group-item-primary">Profile</a>
    {% if user.is_superuser %}
         <a href="{% url 'user_list'%}" class="list-group-item list-group-item-action list-group-item-primary">User</a>

     {% endif %}
    <a href="{% url 'display_bins'%}" class="list-group-item list-group-item-action list-group-item-primary">Dustbin</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Status</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Notifications</a>
    <a href="{% url 'blog_list'%}" class="list-group-item list-group-item-action list-group-item-primary">Blogs</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Settings</a>
    <a href="{% url 'logout'%}" class="list-group-item list-group-item-action list-group-item-primary">logout</a>
   

</div>
     <!-- profile settings end -->
    </div>
    <div class="col-8">
    <!--The div element for the map -->
    <div id="map"></div>
   
    <script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var uluru = {lat: 27.685565,lng:85.349384};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), 
      {zoom:12 ,
       center: uluru,
       styles: [
            {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
            {
              featureType: 'administrative.locality',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'geometry',
              stylers: [{color: '#263c3f'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'labels.text.fill',
              stylers: [{color: '#6b9a76'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry',
              stylers: [{color: '#38414e'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry.stroke',
              stylers: [{color: '#212a37'}]
            },
            {
              featureType: 'road',
              elementType: 'labels.text.fill',
              stylers: [{color: '#9ca5b3'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry',
              stylers: [{color: '#746855'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry.stroke',
              stylers: [{color: '#1f2835'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'labels.text.fill',
              stylers: [{color: '#f3d19c'}]
            },
            {
              featureType: 'transit',
              elementType: 'geometry',
              stylers: [{color: '#2f3948'}]
            },
            {
              featureType: 'transit.station',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'water',
              elementType: 'geometry',
              stylers: [{color: '#17263c'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.fill',
              stylers: [{color: '#515c6d'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.stroke',
              stylers: [{color: '#17263c'}]
            }
          ]
      });
     
       var damage = {url:'http://127.0.0.1:8080/static/images/damage.png',
                      scaledSize: new google.maps.Size(50, 50), // scaled size
       };
       var full = {url:'http://127.0.0.1:8080/static/images/full.png',
                      scaledSize: new google.maps.Size(25, 25), // scaled size
       };
       var empty = {url:'http://127.0.0.1:8080/static/images/empty.png',
                      scaledSize: new google.maps.Size(25, 25), // scaled size
       };
       var half = {url:'http://127.0.0.1:8080/static/images/half.png',
                      scaledSize: new google.maps.Size(25, 25), // scaled size
       };
//=========================================================================================
//=======================================================================================
  // The marker, positioned at Uluru
  {% for x in bins %}
  {% if x.bin_status < 30 %}
 var data = {lat:{{x.bin_logitude|safe}}, lng:{{x.bin_latitude|safe}} };
 var marker= new google.maps.Marker({position: data, map: map,icon:full, title:'Bin{{x.bin_no|safe}}\n Status:{{x.bin_status}}'});
 {% elif x.bin_status < 100  %}
 var data = {lat:{{x.bin_logitude|safe}}, lng:{{x.bin_latitude|safe}} };
 var marker= new google.maps.Marker({position: data, map: map,icon:half, title:'Bin{{x.bin_no|safe}}\n Status:{{x.bin_status}}'});
 {% elif x.bin_status < 150  %}
  var data = {lat:{{x.bin_logitude|safe}}, lng:{{x.bin_latitude|safe}} };
 var marker= new google.maps.Marker({position: data, map: map,icon:empty, title:'Bin{{x.bin_no|safe}}\n Status:{{x.bin_status}}'});
 {% else %}
 
 var data = {lat:{{x.bin_logitude|safe}}, lng:{{x.bin_latitude|safe}} };
 var marker= new google.maps.Marker({position: data, map: map,icon:damage, title:'Bin{{x.bin_no|safe}}\n Status:{{x.bin_status}}'});
 {% endif %}  
  {% endfor %}
}

    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    
    <div class="col-3">
      One of three columns      

      
    </div>
  </div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFjR24dT-4ftyBy8_7oJH3Q4jgweWBDtI&v=3&&callback=initMap">
    </script>
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>