<!DOCTYPE html>
<html>
  <head>
    <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 700px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div>
   
    <script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var uluru = {lat: 27.685565,lng:85.349384};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom:12 , center: uluru});
      var icon='static/images.png';
  // The marker, positioned at Uluru
  {% for i in bins %}
 var data = {lat:{{i.bin_logitude|safe}}, lng:{{i.bin_latitude|safe}} };
var marker= new google.maps.Marker({position: data, map: map, label:'Bin{{i.bin_no|safe}}'});
{% endfor %}
}
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgmwys6DvyxdQ_Nim2dkitVnMR_K6ZKUU&callback=initMap">
    </script>
    
  </body>
</html>