#fbEmployeePrefsNub .fbNubFlyout{width:200px}#fbEmployeePrefsNub .menu{border:none;box-shadow:none}
div._4746{z-index:350}
._2xgb,._2xgc{opacity:.8;position:absolute}._2xgb,._2xgd{background-color:#fff;z-index:110}._2xgc,._2xge{background-color:#000;z-index:301}._2xgd,._2xge{opacity:0;position:absolute}
._1yj4{border:2px solid #42b72a;margin:-2px}._285u::after{background-color:#4267b2;content:'';display:block;height:100%;left:0;opacity:.5;position:absolute;top:0;width:100%;z-index:1}
._1r8d .uiInputLabel+.inlineBlock.uiInputLabel{margin-left:0}._1r8d .uiInputLabel{margin-right:10px}
._222f{float:left;padding-top:3px}
.bzHiddenFrame{position:absolute;visibility:hidden}

#bootloader_cWRx2{height:42px;}.bootloader_cWRx2{display:block!important;}