._2xo._56v-{display:none}._4woj{height:171px}
.sp_V53xxlprDHX_1_5x{background-image:url(/rsrc.php/v3/yv/r/dQNNYmhypm1.png);background-size:20px 40px;background-repeat:no-repeat;display:inline-block;height:18px;width:18px}.sp_V53xxlprDHX_1_5x.sx_42e4ef{background-position:0 0}.sp_V53xxlprDHX_1_5x.sx_c7a8a1{background-position:0 -20px}

#bootloader_1LPIc{height:42px;}.bootloader_1LPIc{display:block!important;}