._s2h{text-align:right}
.sp_KKLwcwGJF7-_1_5x{background-image:url(/rsrc.php/v3/y_/r/tw5uCBonM24.png);background-size:18px 46px;background-repeat:no-repeat;display:inline-block;height:12px;width:12px}.sp_KKLwcwGJF7-_1_5x.sx_f370da{width:16px;height:16px;background-position:0 0}.sp_KKLwcwGJF7-_1_5x.sx_a653d7{background-position:0 -18px}.sp_KKLwcwGJF7-_1_5x.sx_d6408c{background-position:0 -32px}

#bootloader_LHAcC{height:42px;}.bootloader_LHAcC{display:block!important;}