._39hc{padding:40px 0}
._4_8i{display:inline-block;height:100%}._4_8i:before{content:'';display:inline-block;height:100%;vertical-align:middle}

#bootloader_XKuq9{height:42px;}.bootloader_XKuq9{display:block!important;}