._fym{word-wrap:break-word}
._3gcy ._54ni._7dgg ._54nc{padding:0}._3gcy ._54ni._7dgg ._7dgf{padding:0 12px}._3gcy ._54ni ._2yt_{display:inline-block}._3gcy ._54ni ._2yu3{display:none}._3gcy ._54ni._54ne ._2yt_{display:none}._3gcy ._54ni._54ne ._2yu3{display:inline-block}._3gcy._3gd0 ._54nc{line-height:32px}._3gcy._3gd0 ._54nh{font-size:13px;padding-left:8px}

#bootloader_X2O8D{height:42px;}.bootloader_X2O8D{display:block!important;}