._3nnr{position:relative}._3nnv{bottom:-36px;position:absolute;right:0;z-index:1}
._2er4{position:absolute;right:0;top:0}._mot{position:relative;text-align:center}._2er3{width:100%}

#bootloader_jeLxv{height:42px;}.bootloader_jeLxv{display:block!important;}