<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>User profile</title>
  </head>
  <body>
    
    <h1> Profile </h1>
    {% for i in user %}
    {% if i.username == username %}
    <img src="{{ i.userprofile.image.url }}" alt="Responsive image" class="rounded-circle" width="100" height="100">
    <p>UserName:   {{i.username}}</p>

    <p>Name:  {{i.first_name}} {{i.last_name}}</p>
    <p>Email:      {{i.email}}</p>
    <p>User Type:  {% if i.is_superuser %}admin {% else %}Staff{% endif %}</p>
    <p>Phone: {% if i.userprofile.phone_no is not null %}{{i.userprofile.phone_no}}{% else %} N/A{% endif %}</p>
    <p>Age:       {% if i.userprofile.age is not null %} {{i.userprofile.age}}{% else %} N/A{% endif %}</p>
    <p>Address:    {{i.userprofile.address}}</p>
    <p>Gender:     {{i.user.userprofile.gender}}</p>
    <p>Van No:    {% if i.userprofile.van_no is not null %} {{i.userprofile.van_no}}{% else %} N/A{% endif %}</p>
    
    <div class="form-group">
     
      <a href="{% url 'user_delete' username=i.username %}" class="btn btn-info">Confirm Delete</a>
      <a href="{% url 'user_list'%}" class="btn btn-info">Cancel</a>
        {% endif %}
      {% endfor %}
    </div>







    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>