
    {% extends 'base_layout.html'%}
    {% load static %}
{% block head %}
{% endblock head %}


    {% block body %}
     <div class="container-fluid">
      <div class="content">
      {% if messages %}

    {% for message in messages %}
    <div {% if message.tags == 'error' %} class="alert alert-danger" {% else %} class="alert alert-{{ message.tags }}" {% endif %} role="alert">{{ message }}</div>
    {% endfor %}

{% endif %}
<style>
 #btn_edit {
        margin: -10px;
        width: 200px;
    }
</style>
        <h4>Profile</h4>
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary border-left-info border-right-info">
                   <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

               

               
                  
                  <a href="{% url 'update_profile'%}"id="btn_edit"  class="btn btn-primary btn-sm btn-sm-mb-2 mx-2 ml-2 ">Edit Profile</a>
                  <a  href="{% url 'reset-user-password' username=request.user.username %}"id="btn_edit" class="btn btn-sm btn-primary btn-sm-mb-2 mx-2 ml-2 " >change password</a>
               
             
              </div>
              </nav>
                </div>
                <div class="card-body border-left-info">
                  <form>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Company (disabled)</label>
                          <input type="text" class="form-control" disabled value="TrashCan">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Username</label>
                          <input type="text" class="form-control" disabled value="{{request.user.username}}">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Email address</label>
                          <input type="email" class="form-control" disabled value="{{request.user.email}}">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Fist Name</label>
                          <input type="text" class="form-control" disabled value="{{request.user.first_name}}">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Last Name</label>
                          <input type="text" class="form-control" disabled value="{{request.user.last_name}}">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Adress</label>
                          <input type="text" class="form-control" disabled value="{{user.userprofile.address}}">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Van No</label>
                          <input type="text" class="form-control" disabled value="{% if user.userprofile.van_no is not null %} {{user.userprofile.van_no}}{% else %} N/A{% endif %}">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Phone</label>
                          <input type="text" class="form-control" disabled value="{% if user.userprofile.phone_no is not null %}{{user.userprofile.phone_no}}{% else %} N/A{% endif %}">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Gender</label>
                          <input type="text" class="form-control" disabled value="{{request.user.userprofile.gender}}">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Age</label>
                          <input type="text" class="form-control" disabled value="{% if user.userprofile.age is not null %} {{user.userprofile.age}}{% else %} N/A{% endif %}">
                        </div>
                      </div>
                    </div>
                    
                       
                    

                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-profile border-left-info">
                <div class="card-avatar align-middle container">
                  <a href="#pablo">
                  <div class="row pt-3">
                  <div class="col-md-4"></div>
                  <div class="col-md-4 align-self-center">
                     <img src="{{ user.userprofile.image.url }}" alt="Responsive image" class="rounded-circle border border-info" width="100" height="100" class="align-middle">
                  </div>
                  <div class="col-md-4"></div>
                  </div>

                  </a>
                </div>
                <div class="card-body">
                  <h6 class="card-category text-gray">{% if request.user.is_superuser %}Admin {% else %}Staff{% endif %}</h6>
                  <h4 class="card-title">{{ request.user.first_name}} {{ request.user.last_name }}</h4>
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     
    </div>
  
 
  
{% endblock %}





