{% extends 'base_layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}
 <div class="container-fluid">
  <div class="card-header card-header-primary border-left-info border-right-info">
  

  {% if user.is_superuser %}
      <form method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
              
                  <h4 class="card-title">Create User</h4>
                  <hr>
              {{ form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-info" type="submit">Create</button>
               <a href="{% url 'user_list'%}" class="btn btn-info">Cancel</a>
              <small class="text-muted">
              <a class="ml-2" href="#">Forget Password?</a>
          </small>
          </div>
      </form>
   {% else %}
   <legend class="border-bottom mb-4"> Sorry! {{ request.user.username}} doesnot have permission to add user</legend>
                        <a class="btn btn-sm" href="{% url 'home' %}">Home</a>

   {% endif %}
   </div>
   </div>
   {% endblock body %}