<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>User profile</title>
  </head>
  <body>
    
   <nav class="navbar navbar-expand-lg bg-gradient-success">
  <a class="navbar-brand" href="#">User List</a>
  


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
   <form method='GET' action=''>
   <input type='text' name ='q' placeholder='Search User' value='{{ request.GET.q }}'/>
   <input type='submit' value='Search'/>
   </form>
  </div>
</nav>
    <table class="table">
  <thead>
    <tr>
       <th scope="col">Image</th>
      <th scope="col">UserName</th>
      <th scope="col">Email</th>
      <th scope="col">User Type</th>
      <th scope="col">Status</th>
      <th scope="col"> Age</th>
      <th scope="col">Address </th>
      <th scope="col">Gender</th>
      <th scope='col'>Settings</th>
    </tr>
  </thead>
  <tbody>
      {% for i in user %}

    <tr>
      <td><img src="{{ i.userprofile.image.url }}" alt="Responsive image" class="rounded-circle" width="40" height="40"></td>
      <td>{{i.username}}</td>
      <td>{% if i.userprofile.age is not null %}{{i.email}}{% else %} N/A{% endif %}</td>
      <td> {% if i.is_superuser %}admin {% else %}Staff{% endif %}</td>
      <td>  <a href="{% url 'inactive_user_confirm' username=i.username %}">{% if i.is_active %}Active{% else %}Inactive{% endif %}</a></td>
      <td>{% if i.userprofile.age is not null %}{{i.userprofile.age}}{% else %} N/A{% endif %}</td>
      <td>{{i.userprofile.address}}</td>
      <td>{{i.userprofile.gender}}</td>
      <td> {% if not i.is_superuser%}<a href="{% url 'delete_user_confirm' username=i.username %}">Delete</a>|{% endif %}<a href = "{% url 'update_user_profile' username=i.username %}">Update</a></td>

    </tr>
        {% endfor %}
        
  </tbody>
</table>
   <div class="pagination">
    <span class="step-links">
        {% if user.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ user.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ user.number }} of {{ user.paginator.num_pages }}.
        </span>

        {% if user.has_next %}
            <a href="?page={{ user.next_page_number }}">next</a>
            <a href="?page={{ user.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

   
    
    <div class="form-group">
     
      <a href="{% url 'signup'%}" class="btn btn-info">Create User</a>
      <a href="{% url 'profile'%}" class="btn btn-info">Cancel</a>
    </div>







    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>